<!DOCTYPE html>
<html lang="en">

<head>
    <title>TODO App</title>

    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/3.3/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">

</head>

<body>

  <div class="container">
         <div class="header">
             <nav>
                 <ul class="nav nav-pills pull-right">
                     <li role="presentation" class="active"><a href="/logout">Logout</a>
                     </li>
                 </ul>
             </nav>
             <h3 class="text-muted">TODO App</h3>
         </div>

         <div class="jumbotron">
             <h1>Welcome TODO user</h1>

         </div>
           {% include 'myfooter.html' %}
     </div>

</body>

</html>
